/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Set body font and background color */
  body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  /* Header styles */
  #header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  #header-img {
    max-width: 100%;
  }
  
  #nav-bar {
    margin-top: 10px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  /* Main section styles */
  main {
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  /* Form styles */
  #form {
    margin-top: 20px;
  }
  
  input[type="email"] {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  
  /* Video styles */
#video {
    display: block;
    margin: 20px auto;
    max-width: 500px; /* Set maximum width to 500px */
    max-height: 500px; /* Set maximum height to 500px */
    transform: rotate(270deg); /* Rotate video clockwise by 270 degrees */
  }
  